<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
<div>
    <ul id="navbar">
        <li><a href="../index.html">Main</a></li>
        <li><a href="catalog.html">Catalog</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>
</div>

<h1>Catalog</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, molestiae, quaerat. Accusamus blanditiis
    cupiditate delectus expedita harum iure, minus modi nemo odio, perspiciatis quidem sint ut, vel. Aliquid earum enim
    ipsa perspiciatis quasi quis reiciendis saepe sapiente tenetur vero? Aliquid architecto at, aut autem, cupiditate
    deserunt, dolore eos labore minima modi natus perspiciatis quod ratione repellat reprehenderit sequi tenetur.
    Accusamus ad aliquam animi autem consectetur corporis cupiditate deleniti dolores ducimus expedita facere in labore
    libero molestiae mollitia nihil nisi nostrum quas, quia sequi sint sunt tempora totam ullam voluptates voluptatibus
    voluptatum? Commodi cumque delectus recusandae. Cumque eos, expedita fugit harum illum inventore laborum nulla quae
    suscipit ullam! Accusamus cupiditate dolore eius est illo iusto laboriosam, maiores molestiae nemo nisi optio,
    pariatur quia repellat repellendus suscipit tempore ullam? Aliquam animi atque deleniti dicta dolor eveniet, hic
    incidunt iure iusto magnam mollitia nesciunt officia quae quisquam rerum sapiente soluta totam velit? Suscipit.</p>

<div id="catalog_line">
    <figure class="one_goods">
        <figcaption class="text_up"><a href="#">3060</a>
        </figcaption>
        <img class="catalog_image" src="../img/vc_gigabyte_3060.png" alt="3060">

        <figcaption class="text_down_below"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id?
        </figcaption>
    </figure>
    <figure class="one_goods">
        <figcaption class="text_up"><a href="#">3070</a>
        </figcaption>
        <img class="catalog_image" src="../img/vc_msi_3070.png" alt="3070">
        <figcaption class="text_down_below"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, similique?
        </figcaption>
    </figure>
    <figure class="one_goods">
        <figcaption class="text_up"><a href="#">4080</a>
        </figcaption>
        <img class="catalog_image" src="../img/vc_palit_4080.png" alt="4080">
        <figcaption class="text_down_below"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum rem repudiandae tenetur?
        </figcaption>
    </figure>
</div>


</body>
</html>