<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div>
    <ul id="navbar">
        <li><a href="index.html">Main</a></li>
        <li><a href="catalog/catalog.html">Catalog</a></li>
        <li><a href="#####">Contacts</a></li>
    </ul>
</div>

<h1>Main Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci assumenda cum esse eveniet hic nemo odio quas quasi. Atque culpa cupiditate ea et quo. Cumque fuga in nostrum rerum.</p>
<h2>Welcome to website!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi at esse nesciunt nostrum saepe sunt? Aperiam architecto, commodi illo impedit inventore minus molestiae nostrum repellendus sapiente sed sequi tenetur.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam architecto dicta doloremque fugit laboriosam laudantium numquam obcaecati pariatur quis, quisquam sit temporibus unde velit voluptas voluptate voluptates. Nesciunt, voluptatum!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis fugiat ipsum minima necessitatibus perferendis, quae quibusdam similique. Ab architecto deserunt dicta distinctio ex impedit nulla quod unde, ut voluptas!</p>
</body>
</html>